@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.a {
  height: auto;
  background: #293f50;
  border: 0.01px solid #293f50;
}
.a > p {
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: "KoHo", sans-serif;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.gand {
  width: 100%;
  height: auto;
  margin-bottom: 7vh;
}
.a a {
  display: block;
  box-sizing: border-box;
  min-width: 300px;
  width: 189px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: "Lexend Exa", sans-serif;
  padding: 15px;
  background-color: #04aa6d;
  text-align: center;
  border-radius: 500px;
  font-weight: 500;
  margin: auto;
}
.a a:hover {
  transform: scale(1.05, 1.05);
}
.flexA h1 {
  color: white;
  font-family: "Reggae One", cursive;
  font-size: 50px;
  letter-spacing: 5px;
}
.flexA h2 {
  color: #1ed760;
  font-size: 24px;
  font-family: "Lexend Exa", sans-serif;
}
.flexA {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5vh;
}
@media (max-width: 877px) {
  .flexA {
    flex-direction: column;
    align-items: flex-start;
  }
  .flexA h2 {
    margin-top: 3vh;
  }
  .a p {
    text-align: left;
  }
  .a a {
    margin: 0 0 0 0;
  }
}
@media (max-width: 431px) {
  .flexA h1 {
    font-size: 40px;
  }
  .flexA h2 {
    font-size: 19px;
  }
  .a p {
    font-size: 17px;
  }
  .a a {
    font-size: 14px;
  }
}
nav {
  background-color: #293f50;
  display: flex;
  justify-content: flex-end;
}
.DropDown1 {
  height: 50px;
  width: 90px;
  background-color: #293f50;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-weight: 800;
  font-family: "Lexend Exa", sans-serif;
}

.DropDown1:hover {
  color: #1ed760;
}

.content {
  list-style-type: none;
  background-color: #293f50;
  width: 100vw;
  display: none;
}

.content a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  width: 100%;
  font-family: "Lexend Exa", sans-serif;
  box-sizing: border-box;
  text-align: right;
}

li a:hover {
  color: #1ed760;
}

.show {
  display: block;
}

@media (min-width: 31em) {
  .DropDown1 {
    display: none;
  }

  .content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #293f50;
    display: flex;
    justify-content: flex-end;
  }

  .gandu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    box-sizing: border-box;
  }

  li a:hover {
    color: #1ed760;
  }
}
.b {
  height: auto;
  min-height: 93vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 7vh;
  margin-bottom: 7vh;
}
.b h4 {
  color: rgb(100, 136, 128);
  font-family: "Lato", sans-serif;
  margin-bottom: 3vh;
  margin-top: 3vh;
  font-size: 18px;
}
.a {
  top: 60;
}
.b h1 {
  color: rgb(100, 136, 128);
  font-family: "Lato", sans-serif;
  margin-top: 3vh;
  font-size: 21px;
}
.b p {
  font-size: 16px;
  color: rgb(136, 136, 136);
  font-family: "Lato", sans-serif;
  margin-top: 4vh;
}
.ist {
  height: auto;
  width: 280px;
}
.second {
  height: auto;
  width: 280px;
}
.third {
  height: auto;
  width: 280px;
}

.d {
  height: auto;
  background-color: #293f50;
  box-sizing: border-box;
  border: 0.01px solid #293f50;
}
.yeah {
  list-style-type: none;
}
.yeah div {
  color: gray;
  font-family: "Lexend Exa", sans-serif;
  box-sizing: border-box;
  padding-left: 14px;
  margin-bottom: 20px;
  margin-top: 50px;
  font-weight: 800;
}
.yeah2 a {
  display: block;
  color: white;
  padding: 14px 14px;
  text-decoration: none;
  width: 100%;
  font-family: "Lexend Exa", sans-serif;
  box-sizing: border-box;
  font-weight: 800;
}
.yeah2 a:hover {
  color: #1ed760;
}
@media (min-width: 55.125em) {
  .d {
    display: flex;
    justify-content: space-around;
  }
}
.c {
  height: auto;
  background-color: #293f50;
  border: 0.01px solid #293f50;
}
.cA {
  margin-top: 100px;
  margin-left: 14px;
}
.c a {
  display: inline-block;
  color: gray;
  text-decoration: none;
  font-family: "Lexend Exa", sans-serif;
  font-size: 10px;
  padding: 5px;
}
.c a:hover {
  color: #1ed760;
}
